body {
    font-size: small;
    font-family: monospace;
    font-style: italic;
    color: #ff004c96;
    background-color: white;
}

h1 {
    font-size: xx-large;
    font-family: Arial, sans-serif;
    font-style: italic;
}