body {
    font-size: small;
    font-family: monospace;
    font-style: normal;
    font color: black;
    background-color: white;
}

h1 {
    font-size: xx-large;
    font-family: Arial, sans-serif;
    font-style: italic;
}